.card-group{
    margin-left: 30px;
    margin-right: 40px;
  }

  .card{
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
  }
  
  .card:hover{
    box-shadow: 0 0 15px rgba(0,0,0,.5);
  }
  .card-image{
    width: 200px !important;
    height: 200px !important;
    margin-left: 30px !important;
    margin-bottom: 50px;
  }
img card-image{
    width: 100px;
}

.nav{
    background-color: #D4F1EF;
}

.ul{
    margin-top: 200px;
}
.a{
    color: #ffffff
}

.differences{
    margin: 70px;
    text-align: center
}

#logoindex{
    height: 100px;
    width: 150px;
    margin-right: 800px;
}
#textarea{
    background-color: #F8FFFE;
}

button{
    background-color: #D4F1EF;
    border: none;
}

button:hover{
    background-color: #00C0AF;
}
#icon {
    width: 50px;
}
.container{
    margin-top: 2%;
}